<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sandbox_databases.Properties.Settings.worldConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=world"
            providerName="MySql.Data.MySqlClient" />
        <add name="sandbox_databases.Properties.Settings.autoshopConnectionString"
            connectionString="server=localhost;user id=root;password=Adminadmin;persistsecurityinfo=True;database=autoshop"
            providerName="MySql.Data.MySqlClient" />
        <add name="sandbox_databases.Properties.Settings.holdingConnectionString"
            connectionString="server=localhost;user id=root;password=qwerty;persistsecurityinfo=True;database=holding"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>